fpdf==1.7.2
gspread==5.12.0
hydralit-components==1.0.10
matplotlib==3.6.3
mdurl==0.1.2
numpy==1.24.1
pandas==2.1.1
pandas-bokeh==0.5.5
streamlit==1.28.2
streamlit-aggrid==0.3.4.post3
streamlit-elements==0.1.0
streamlit-state==0.1.0
openpyxl
pip
xlsxwriter
